/* embed fonts because CDN lacks bold and/or italic styles */
@font-face {
  font-family: 'Minion Pro';
  src: url('fonts/MinionPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Minion Pro';
  src: url('fonts/MinionPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Minion Pro';
  src: url('fonts/MinionPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Minion Pro';
  src: url('fonts/MinionPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Minion Pro';
  font-weight: bold;
}

body {
  font-family: 'Minion Pro';
  font-weight: normal;
}
