@import 'styles/fix-sup.css';
@import 'styles/no-margin.css';
@import url('https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic');

* {
  line-height: 2.0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, sans-serif;
  font-weight: bold;
  font-size: 12pt;
}

body {
  font-family: Calibri, sans-serif;
  font-weight: normal;
  font-size: 11pt;
}

code {
	font-family: 'Courier New', monospace;
  font-weight: normal;
}
