@import 'styles/reference.css';

@font-face {
  font-family: 'Lucida Console';
  src: url('fonts/Lucon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0; /* use custom margin */

  font-family: 'Times New Roman', serif;
  font-weight: normal;
  font-size: 12pt;
  line-height: 2.0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 12pt;
} h2 {
  text-align: center;
}

code {
	font-family: 'Lucida Console', monospace;
  font-weight: normal;
  font-size: 10pt;
  line-height: 1.15;
} pre.hljs code > div {
	padding: 2pt;
}

p {
  text-align: justify;
  text-indent: 0.5in;

  margin-top: 0;
  margin-bottom: 0;
}

blockquote > p {
  text-align: left;
  text-indent: 0in;
}

/* Title and subtitle belong in the first page, followed by a page break. */

.title > p {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  text-indent: 0;

  margin-top: 200px;
}

.subtitle > p {
  font-family: 'Times New Roman', serif;
  font-weight: normal;
  font-size: 12pt;
  text-align: center;
  text-indent: 0;

  margin-top: 50px;
  page-break-after: always;
}

/* Abstract paragraph should not be indented. */

.abstract > p {
  text-indent: 0;
}

/* References indentation starts at second line. */

.references > p {
  text-align: left;
  text-indent: -0.5in;

  margin-left: 0.5in;
}

/* Figure may be code, image, or table followed by small text note. */

.figure > pre {
  margin-bottom: 0;
} .figure > img {
  margin-bottom: 0;
} .figure > table {
  margin-bottom: 0;
} .figure > p {
  font-size: 10pt;
  text-indent: 0;

  margin-top: 0;
}
