@import 'styles/no-margin.css';
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
  line-height: 1.0;
}

h1 {
  font-family: 'helvetica neue', sans-serif;
  font-weight: bold;
  font-size: 30pt;
  color: #000;
}

h2 {
  font-family: 'helvetica neue', sans-serif;
  font-weight: normal;
  font-size: 20pt;
  color: #000;
}

h3 {
  font-family: 'helvetica neue', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  color: #000;
}

h4 {
  font-family: 'helvetica neue', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  color: #000;
}

h5 {
  font-family: 'helvetica neue', sans-serif;
  font-weight: normal;
  font-size: 14pt;
  color: #000;
}

h6 {
  font-family: 'helvetica neue', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  color: #f50c20;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 11pt;
  color: #000;
}
