@import 'styles/no-margin.css';
@import url('https://fonts.cdnfonts.com/css/georgia-2');

h1, h2, h3, h4, h5, h6 {
  font-family: georgia, serif;
  color: #0068b9;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.0;
}

h1 {
  font-weight: normal;
  font-size: 32pt;
}

h2 {
  font-weight: normal;
  font-size: 20pt;
}

h3 {
  font-weight: normal;
  font-size: 18pt;
}

h4 {
  font-weight: normal;
  font-size: 16pt;
}

h5 {
  font-weight: normal;
  font-size: 14pt;
}

h6 {
  font-weight: bold;
  font-size: 12pt;
}

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12pt;
  color: #747474;
  line-height: 1.5;
}
