@import url('https://fonts.cdnfonts.com/css/baskerville');

body {
  padding: 0; /* use custom margin */

  font-family: baskerville, serif;
  font-weight: normal;
  font-size: 12pt;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: baskerville, serif;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.0;
}

h1 {
  font-weight: normal;
  font-size: 40pt;
  color: #3b3b3b;
}

h2 {
  font-weight: 600;
  font-size: 32pt;
  color: #fff;
}

h3 {
  font-weight: normal;
  font-size: 32pt;
  color: #df4b2c;
}

h4 {
  font-weight: normal;
  font-size: 13pt;
  color: #000;
}

h5 {
  font-weight: normal;
  font-size: 18pt;
  color: #514e4b;
}

h6 {
  font-weight: normal;
  font-size: 18pt;
  color: #543a29;
}

p {
  text-indent: 0.37in;
}

blockquote > p {
  text-indent: 0in;
}
