@font-face {
  font-family: 'Courier New';
  src: url('fonts/Cour.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0; /* use custom margin */

  font-family: 'Times New Roman', serif;
  font-weight: normal;
}

/* Title and authors at the top of the page.  */

.title > p {
  text-align: center;
  font-size: 24pt;
  line-height: 1.0;

  margin-bottom: 34px;
}

.authors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 9pt;
  gap: 12px;
  line-height: 1.0;

  margin-top: 34px;
  margin-bottom: 24px;
} .authors > p {
  width: 175px;
  font-size: 9pt;
  text-align: center;
}

/* Main layout that distributes children proportionally in 2 columns. */

.content {
  column-count: 2;
  column-width: 3.44in; /* from 3.45in */
  column-gap: 0.2in;

  margin-top: 18px;
} .content > * {
  font-size: 10pt;
  line-height: 0.95;
} .content > h1 {
  font-weight: normal;
  font-size: 24pt;
} .content > h2 {
  font-weight: normal;
  font-size: 12pt;
  font-variant: small-caps;
  text-align: center;
} .content > h3, h4, h5, h6 {
  font-style: italic;
  font-size: 10pt;
} .content > small {
  font-size: 7pt;
} .content > .hljs > code {
	font-family: 'Courier New', monospace;
  font-weight: normal;
  font-size: 8pt;
  line-height: 0.95;
} .content > pre:not(.hljs), pre.hljs code > div {
	padding: 2pt;
} .content > pre:not(.hljs) {
	padding: 4pt;
  line-height: 0.95;
} .content > p {
  text-align: justify;
  text-indent: 0.2in;

  margin-top: 0;
  margin-bottom: 0;
} .content > p > img {
  margin-left: -0.2in;
} .content > blockquote > p {
  text-align: left;
  text-indent: 0in;
}

/* Figures and references are within content section, use nested markdown-it-container. See more at
   https://github.com/markdown-it/markdown-it-container/issues/36. */

.figure > p {
  font-size: 8pt;
}

.references > ol {
  counter-reset: list;
  display: table;
  padding-inline-start: 0px;
} .references > ol > li {
  font-size: 8pt;
  line-height: 9pt;

  counter-increment: list;
  display: table-row;
} .references > ol > li:before {
  text-align: right;

  content: "[" counter(list) "] ";
  display: table-cell;
  padding-right: 4px;
} .references > ol > li:not(:last-child) {
  margin-bottom: 2.5pt;
}
