/*
Academic citation requires superscript numbered link (e.g.: `[1]`, `[2]`, etc.). The problem with
HTML `sup` tag is that they affect line height of `p`, this style disables it.
*/
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
}
