/*
Make sure that superscript and subscript won't affect line height. Automatically applied to academic
paper styles because citation requires superscript.
*/

sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
}

sub {
  vertical-align: bottom;
  position: relative;
  top: 0.5em;
}
