body > p {
  text-align: justify;
  text-indent: 0.25in;
}

body > blockquote > p {
  text-align: left;
  text-indent: 0in;
}

/* Use this ID to ignore indentation. */

.no-indent > p {
  text-align: left;
  text-indent: 0in;
}
