body {
  font-size: 11pt;
}

h1 {
  font-size: 18pt;
  font-weight: bold;
}

h2 {
  font-size: 16pt;
  font-weight: bold;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

h4 {
  font-size: 12pt;
  font-weight: bold;
}

h5 {
  font-size: 11pt;
  font-weight: bold;
}

h6 {
  font-size: 11pt;
  font-weight: bold;
  color: #777;
}

code {
  font-size: 11pt;
}

pre:not(.hljs),
pre.hljs code > div {
	padding: 6pt;
}

pre:not(.hljs) {
	padding: 8pt;
}
